<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel='stylesheet' href='{% static "session_words/css/style.css" %}'>
        <title>Session Words</title>
    </head>
    <body>
        <form action="add_word" method="POST">
            {% csrf_token %}
            <p>Add a new word: <input type="text" name="word"></p>
            <p>Choose color:</p>
            <ul>
                <li><input type="radio" name="color" value="red"> Red</li>
                <li><input type="radio" name="color" value="green"> Green</li>
                <li><input type="radio" name="color" value="blue"> Blue</li>
            </ul>
            <p><input type="checkbox" name="size", value="big"> show in BIG fonts!</p>
            <input type="submit" value="Add to Session">
        </form>
        <div>
            <button onclick="window.location.href='clear'">Clear Session</button>
            <table>
                <tbody>
                    {% for row in request.session.words %}
                        <tr>
                            <td class="{{row.color}} {{row.size}}">{{row.word}}</td>
                            <td>- added on {{row.time}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>